@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Fira Code', monospace;
}

header h2{
    color:#ffffff;
    font-size: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    letter-spacing: -0.7rem;
    opacity: 0.7;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0b05;
    height: 9rem;
    position: sticky;
}

.menu img{
    width: 9em;
    height: 9rem;
    margin-left: 2rem;
    cursor: pointer;
    opacity: 0.8;
}

.menu_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem;

}
.menu_item li a{
    color: #f8c8ed;
    font-size: 1.9rem;
    opacity: 0.7;
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
}

.menu_item a::after{
    content:"";
    position: absolute;
    width: 0;
    height: 0.3rem;
    top: 0;
    left: 0;    
    background-color: #f3f3f3;
    transition: 600ms;
}

.menu_item li a:hover::after{
    width: 100%;
}
.menu_item li a:hover{
    opacity: 1;
}

header h2:hover{
    opacity: 1;
    transition: all 400ms ease-in-out;
}

.menu img:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    opacity: 1;
}

/* ----------------------------main--------------------- */

main{
    background-color: rgb(211, 189, 189);
}

h2{
    font-size: 3rem;
    padding: 2.2rem;
    color: white;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

label{
    color: white;
    font-size: 1.2rem;
    margin: 0.3rem;
    font-weight: 300;
    display: block;
}
input{
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-weight: 300;
    width: 12rem;
    color: white;
    border: 3px solid white;
    background-color: transparent;
}

/* --- fieldset --- */

fieldset{
    padding: 2rem;
    margin: 0 0 3.7rem 0;
    border-radius: 0.3rem;
    border: 3px solid white;
}
  
legend{
    background-color: #f96d00;
    font-weight: 300;
    color: white;
    padding: 5px 10px;
    border-radius: 0.3rem;
}

/* --- button --- */

.btn{
    display: block;
    width: 6rem;
    height: 3rem;
    margin: 1rem 0.5rem 0.5rem 0.17rem ;
    background: transparent;
    border-radius: 0.3rem;
    border: 3px solid white;
    font-weight: 300;
    color: gray;
    position: relative;
    cursor: pointer;
    padding: 1rem 1rem 2rem 1rem;
}

.btn::before{
    content:"";
    background-color:#f96d00 ;
    background-size: contain;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 300ms;
}

.btn:hover::before{
    width:100%;
}

.btn:hover{
    transform: scale(1.1);
    transition: 300ms;
}

  /* ---------------footer---------------------- */

footer{
    background-color:#dc2f2f;
    width: 100%;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}
.disponibilidade{
    padding: 0.3rem;
    text-align: start;
}
.antonio{
    font-size: 1.7rem;
}
.contato{
    padding: 0.3rem;
    text-align: end;
}