@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Fira Code', monospace;
}

h2{
    color:#f8c8ed;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Rowdies', cursive;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0b05;;
    height: 9rem;
    position: sticky;
}

.menu img{
    width: 8em;
    height: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    cursor: pointer;
    opacity: 0.8;
}


.menu_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2.7rem;
}
.menu_item a{
    padding:2.5rem;
    color: #f8c8ed;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.8;
}

.menu_item a:hover{
    font-size:1.6rem ;
    transition: all ease-in-out 300ms;
    opacity: 1;
}

h2:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    opacity: 1;
}

.menu img:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    opacity: 1;
}

/* ---main--- */
.titulo{
    background-image: url(/assets/img/land.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    opacity: 0.8;
}

.titulo:hover{
    transition:all 300ms ease-in-out;
    opacity: 1;
}

h1{
    color:white;
    font-size: 4.1rem;
    font-family: 'Rowdies', cursive;
    opacity: 0.8;
    cursor: pointer;
}

/* ---parallax--- */
.wrapper {
    height: 2000px; 
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
  }

  .part {
    position: relative;
    height: 100vh;
    min-height: 2000px;
    transform-style: inherit; 
    overflow-y: hidden;
    overflow-x: hidden;
    
  }

  .part::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);
    
  }

  .bg::before{
      background-image: url(/assets/img/parallax.jpg);
      
  }


