@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Fira Code', monospace;
}

header h2{
    color:#f8c8ed;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Fira Code', cursive;
    letter-spacing: -0.7rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0b05;;
    height: 9rem;
    position: sticky;
}

.menu img{
    width: 8em;
    height: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    cursor: pointer;
    opacity: 0.8;
}


.menu_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2.7rem;
}
.menu_item a{
    padding:2.5rem;
    color: #f8c8ed;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.8;
}

.menu_item a:hover{
    font-size:1.6rem ;
    transition: all ease-in-out 300ms;
    opacity: 1;
}

header h2:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    opacity: 1;
}

.menu img:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    opacity: 1;
}

/* ----------------------------main--------------------- */

.titulo{
    display: flex;
    background: linear-gradient(89.2deg, rgb(0, 0, 0) 10.4%, rgb(255, 0, 0) 37.1%, rgb(255, 216, 51) 64.3%, rgb(255, 255, 255) 90.5%);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.titulo img{
    margin: 1rem;
    height: 27rem;
}
.titulo h3{
    margin: 3rem 1rem 1rem 1rem;
   font-size: 2rem;
}

h1:hover{
    transition:all 300ms ease-in-out;
    opacity: 1;
    transform: scale(1.01);
}

h1{
    color:white;
    letter-spacing: -1.1rem;
    font-size: 7.3rem;
    font-family: 'Fira Code', cursive;
    opacity: 0.9;
    margin: 0.3rem 6rem 0.03rem 1rem ;
    cursor: pointer;
    direction: rtl;
}

.bg1{
    display: flex;
    background-image: url(/assets/img/marte_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.bg1 h2{
    color: white;
    font-size: 4rem;
    margin-left: 2rem;
    letter-spacing: -0.4rem;
    cursor: default;
    margin: 8rem 1rem 8rem 1rem;
}

/* -----------------------carrossel------------------------ */
.galery{
    width:700px ;
    height:575px;
    margin:100px auto;
    overflow: hidden;
}

.galery .photos{
    display: flex;
    width: 3680px ;
    height: 575px;
}

.galery .photos img{
   position: relative;
   left: 0px;
   animation: slide 15s ease-in-out infinite running;
}

@keyframes slide {
    0%{
        left:0px;
    }
    10%{
        left:0px;
    }
    20%{
        left:-800px;
    }
    30%{
        left:-800px;
    }
    40%{
        left:-1600px;
    }
    50%{
        left:-1600px;
    }
    60%{
        left:-2400px;
    }
    70%{
        left:-2400px;
    }
    80%{
        left:-3200px;
    }
    90%{
        left:-3200px;
    }
    99.99%{
        left:-3200px;
    }
    100%{
        left: 0px;
    }
}
/* --------------------parallax------------------------- */
.wrapper {
    height: 2000px; 
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
  }

  .part {
    position: relative;
    height: 100vh;
    min-height: 2000px;
    transform-style: inherit; 
    overflow-y: hidden;
    overflow-x: hidden;
    
  }

  .part::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);
    
  }

  .bg::before{
      background-image: url(/assets/img/matrix.gif); 
  }


